{{ if .Params.list_resources }}
    <div class="md:-ml-7">
        {{ $res := .Site.GetPage .Params.list_resources }}
		<span>{{ $res }}</span>
		<span>{{ $res.Resources }}</span>
        {{ $pages := $res.Resources.ByType "page" }}

        {{ if $pages }}
            {{ $max_idx := sub (len $pages) 1 }}

            {{ range $index, $value := (sort $pages "Params.weight" "asc") }}
                {{ partial "archive-list.html" . }}
            {{ end }}
        {{ else }}
            <span>{{ i18n "no_page_under_resouces" (dict "resources_name" "list_resources" "resources_path" .Params.list_resources ) }}</span>
        {{ end }}
    </div>
{{ else }}
    <span>{{ i18n "resources_not_found" (dict "resources_name" "list_resources")}}</span>
{{ end }}
