body {
    background-color: rgb(253, 246, 238);
    color: rgba(0, 0, 0, 0.715);
    font-family: 'Comfortaa', cursive;
}

.container {
    max-width: 1024px;
    min-width: 304px;
    margin: auto;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#pageHeader {
    padding: 15px;
}

footer {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding: 5px;
    margin-top: 20px;
}

#copyright {
    grid-column: 2;
}

.main {
    background-color: cornflowerblue;
    border-radius: 10px;
}

.head {
    background-color: rgb(133, 133, 133);
    padding: 10px 10px 10px 30px;
}

.content {
    padding: 20px 15px 20px 15px;
}

.box {
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    min-height: 80px;
    margin: 10px;
    padding: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.315);
}

.topCorner {
    border-radius: 10px 10px 0px 0px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.bottomCorner {
    border-radius: 0px 0px 10px 10px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.farmValue {
    position: sticky;
    top: -1px;
}

h1, h2, h3, h4, h5, h5, h6 {
    margin: 0px;
    text-align: center;
}

h1 {
    font-family: 'Passion One', cursive;
    font-size: 48px;
    font-weight: normal;
    margin: 5px;
    color: rgb(250, 250, 250);
    text-shadow: 5px 5px rgba(0, 0, 0, 0.315);
}

h2 {
    font-family: 'Passion One', cursive;
    font-weight: 100;
    font-size: 32px;
    letter-spacing: 1px;
    color: rgb(250, 250, 250);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.315);
}

h3 {
    color: black;
    text-align: left;
    color: rgb(250, 250, 250);

}

h4 {
    margin: 10px;
    font-size: 18px;
}

a {
    color: #272a35;
}

p.loading {
    position: absolute;
    left: 20px;
    font-weight: bold;
    margin: 0;
}

input {
    text-align: right;
}

input, select {
    overflow: hidden;
    margin-bottom: 15px;
    width: 80%;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 5px;
    padding: 5px;
    font-size: 22px;
    font-family: 'Comfortaa', cursive;
    background-color: rgb(250, 250, 250);
}

.tooltip {
    fill: none;
    stroke: rgba(0, 0, 0, 0.715);
    vertical-align: middle;
}

.tooltip:hover {
    fill: rgba(0, 0, 0, 0.715);
    stroke: none;
}

.tooltipBox {
    position: absolute;
    background: none;
    border: none !important;
    color: none;
    box-shadow: none;
    padding: 0;
    width: 300px;
    height: auto;
}

.tooltipImg {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #666666;
}

.regex {
    background: rgb(250, 250, 250);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.315);
    font-family: 'Comfortaa', cursive;
    font-size: 12pt;
}

@media only screen and (max-width: 387px) {
    .col {
        min-width: 274px !important;
    }
}

.col {
    min-width: 331px;
    flex-basis: auto;
    flex-grow: 1;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.shadow {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.315);
}

.overflow {
    overflow: auto
}

.center {
    text-align: center;
    align-items: center;
    align-content: center;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right
}

.spaced {
    margin: auto;
}

.flexGrow2 {
    flex-grow: 2;
}

.flexGrow3 {
    flex-grow: 3;
}

p.results>span {
    font-weight: bold;
}