---
import BlogPostItem from "@components/BlogPostItem.astro";
import BlogLayout from "@layouts/BlogLayout.astro";
import { getCollection } from 'astro:content';
const allPosts = await getCollection('blog');
const pageTitle = "Blog";
---
<BlogLayout pageTitle={pageTitle}>
  <div class="flex flex-col child:mt-3">
    {allPosts.map(post => <BlogPostItem post={post} />)}
  </div>
</BlogLayout>