---
import BlogLayout from "@layouts/BlogLayout.astro";
import { getCollection } from 'astro:content';
import BlogPostItem from "@components/BlogPostItem.astro";
const allPosts = await getCollection('blog');
---
<BlogLayout pageTitle="All Posts">
    <h1 class="text-3xl my-4">All Posts</h1>
    <div class="flex flex-col child:mt-3">
        {allPosts.map(post => <BlogPostItem post={post} />)}
    </div>
</BlogLayout>