---
import Button from "@components/Button.astro";
import PageTitle from "@components/PageTitle.astro";
import PageLayout from "../layouts/PageLayout.astro";
const pageTitle = "About Me";
---
<PageLayout pageTitle={pageTitle}>
  <PageTitle>About</PageTitle>
  <h2 class="text-2xl">What is mioi?</h2>
  <p>
    <strong>mioi</strong> is my personal website. It's a place where I can share my thoughts and projects in my career in software. I may also showcase my various hobbies at mioi as well. <strong>mioi</strong> can be a word or an acronym. I think of it to mean <i>miscellaneous items of interest</i> as a catch-all for the reasons you may be visiting the website.
  </p>
  <hr class="my-2" />
  <h2 class="text-2xl">Who am I?</h2>
  <p>
    My name is Tom van Dinther and I work professionally in software. This is a picture of me at the top of a hill in New Zealand where I used to live, but I now live and work in The Netherlands.
  </p>
  <img src="/assets/images/me_1.webp" alt="Tom van Dinther" class="shadow-md rounded-lg my-2 w-auto h-auto" />
  <Button link="https://www.linkedin.com/in/tvandinther/">LinkedIn</Button>
  <Button link="https://www.github.com/tvandinther/">GitHub</Button>
  <hr class="my-2" />
  <h2 class="text-2xl">What am I currently working on and learning?</h2>
  <p>
    In my profressional day-to-day I work as a consultant, practising DevOps and platform engineering. This involves a lot of bash and YAML. So, to fill my thirst for programming I like to get stuck into Haskell and the continued development of this website.
  </p>
  <hr class="my-2" />
  <h2 class="text-2xl">Who do I follow in the tech-sphere?</h2>
  <p>
    I have a few favourite YouTube channels and blogs that I follow. I highly recommend each one of them for the topics they cover.
  </p>
  <br/>
  <h3 class="text-xl">Dave Farley (Continuous Delivery)</h3>
  <Button link="https://www.youtube.com/@ContinuousDelivery">YouTube</Button>
  <p>
    Dave Farley is an expert on software delivery and an excellent communicator. His YouTube channel covers all sorts of topics around software development and delivery. No matter which tech stacks you work with, this channel is a must-subscribe.
  </p>
  <br/>
  <h3 class="text-xl">Nick Chapsas</h3>
  <Button link="https://www.youtube.com/@nickchapsas">YouTube</Button>
  <p>
    If you write ASP.NET Core applications in C#, then you should definitely subscribe to Nick's channel. His videos range from instructional series on how to use various features and frameworks to develop microservice architectures in C# to covering the latest language features so you will always be in the know with C#.
  </p>
  <br/>
  <h3 class="text-xl">Mark Seemann</h3>
  <Button link="https://blog.ploeh.dk/">Blog</Button>
  <p>
    Mark Seemann is an experienced software consultant. He is a favourite of mine because his teachings are a great intersection of C# and functional programming. There are plenty of pearls of wisdom in his blog and talks he has given which can be found on YouTube.
  </p>
  <br/>
  <h3 class="text-xl">Scott Wlaschin</h3>
  <Button link="https://fsharpforfunandprofit.com/">Blog</Button>
  <p>
    Scott is a software consultant and massive proponent for F#. His blog posts and talks on the topic of functional programming and domain design are invaluable. Even if you don't use F# or functional programming, the learnings from his blog and talks will take your software design to the next level.
  </p>
</PageLayout>
