---
import BlogPostItem from "@components/BlogPostItem.astro";
import Card from "@components/Card.astro";
import { getCollection } from "astro:content";
import PageLayout from "../layouts/PageLayout.astro";
const pageTitle = "mioi";
const featuredPosts = (await getCollection("blog")).filter((post) => post.data.featured);
---
<PageLayout pageTitle={pageTitle}>
  <h1 class="text-3xl my-4">Featured Projects</h1>
  <div class="flex flex-col">
      <Card title="Egg, Inc. Companion App" link="/projects/egginc-app">
      <img src="/assets/images/eggincappScreenshot.png" class="m-auto w-full h-auto max-w-[800px]">
      <p class="my-2">
          A fresh app housing the all new versions of the previous Egg, Inc. tools.
      </p>
      </Card>
  </div>
  <h1 class="text-3xl my-4">Featured Blog Posts</h1>
  {featuredPosts.map((post) => (
    <BlogPostItem post={post} />
  ))}
</PageLayout>
