---
import BlogPostItem from "@components/BlogPostItem.astro";
import PageTitle from "@components/PageTitle.astro";
import ProjectItem from "@components/ProjectItem.astro";
import { byLatest as byLatestPost } from "@helpers/posts";
import { byLatest as byLatestProject } from "@helpers/projects";
import { getCollection } from "astro:content";
import PageLayout from "../layouts/PageLayout.astro";
const pageTitle = "mioi";
const featuredPosts = (await getCollection("blog")).filter((post) => post.data.featured).sort(byLatestPost);
const featuredProjects = (await getCollection("projects")).filter((post) => post.data.featured).sort(byLatestProject);
---
<PageLayout pageTitle={pageTitle}>
  <PageTitle>Featured Projects</PageTitle>
  <div class="flex flex-col">
    {featuredProjects.map((project) => (
      <ProjectItem project={project} />
    ))}
  </div>
  <PageTitle>Featured Blog Posts</PageTitle>
  {featuredPosts.map((post) => (
    <BlogPostItem post={post} />
  ))}
</PageLayout>
