---
import type { CollectionEntry } from "astro:content";

type Props = {
    post: CollectionEntry<"blog">
    display?: "compact" | "full"
}

const { post, display = "full" } = Astro.props;
---
<div>
    <a
    class="flex flex-col justify-center bg-gray-100 rounded-md p-2 m-2 hover:shadow-lg shadow-md transition-all" 
    href={`/blog/posts/${post.slug}`}>
    <div class="flex justify-between px-1">
        <h1 class="text-lg lg:text-xl font-bold">{post.data.title}</h1>
        <p>{post.data.date.toLocaleDateString()}</p>
    </div>    
        {display == "full" && <div class="relative">
            <h3 class="overflow-clip text-md text-slate-700 font-bold font-body">{post.data.description}</h3>
        </div>}
    </a>
</div>