---
import NavigationLink from '../components/NavigationLink.astro'
---
<div class="mb-6">
    <NavigationLink path="/blog" title="Blog Home" />
    <NavigationLink path="/blog/posts" title="All Posts" />
    <NavigationLink path="/blog/tags" title="Tags" />
</div>