---
import NavigationLink from '../components/NavigationLink.astro'
---
<div class="flex">
    <NavigationLink path="/blog" title="Blog Home" inverted />
    <NavigationLink path="/blog/posts" title="All Posts" inverted />
    <NavigationLink path="/blog/tags" title="Tags" inverted />
</div>