---
import Button from './Button.astro';
---
<div class="flex">
    <Button link="/blog">Blog Home</Button>
    <Button link="/blog/posts">All Posts</Button>
    <Button link="/blog/tags">Tags</Button>
</div>