---
const platform = "github";
const username = "tvandinther";
---
<footer class="w-screen bg-page">
    <div class="px-8 py-1 bg-primary text-page">
        <p>Learn more about my projects on <a class="underline" target="_blank" href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
    </div>
</footer>