---
const platform = "github";
const username = "tvandinther";
---
<footer class="w-screen bg-page">
    <div class="rounded-tl-[2rem] lg:rounded-tl-[4rem] px-8 py-1 bg-primary text-page">
        <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
    </div>
</footer>