---
---
<div id="hamburger" class="cursor-pointer lg:hidden w-10 ml-auto group">
    <span class="block h-1 my-2 bg-accent rounded-full transition-all group-hover:bg-tertiary [.open>&]:rotate-45 [.open>&]:translate-y-3"></span>
    <span class="block h-1 mb-2 bg-accent rounded-full transition-all group-hover:bg-tertiary [.open>&]:-rotate-45"></span>
    <span class="block h-1 mb-2 bg-accent rounded-full transition-all group-hover:bg-tertiary [.open>&]:opacity-0"></span>
</div>
<script>
    (function() {
        var o = false;
        document.getElementById('hamburger')?.addEventListener('click', function() {
            // @ts-ignore
            window.scrollHiding.header = o;
            // @ts-ignore
            window.scrollHiding.footer = o;
            document.getElementById('hamburger')?.classList.toggle('open');
            document.getElementById('side-navigation')?.classList.toggle('open');
            o = !o;
        })
    })();
</script>