---
import Hamburger from "./Hamburger.astro";
import NavigationMenu from "./NavigationMenu.astro";
import SideNavigation from "./SideNavigation.astro";
---
<header>
    <nav class="bg-primary w-screen px-8 py-3">
      <Hamburger />
      <NavigationMenu />
    </nav>
  <SideNavigation />  
</header>