---
import { mergeClasses } from '@helpers/utility';

type Props = {
    path: string,
    title: string,
    inverted?: boolean,
    underline?: boolean,
    classes?: string,
}

const { path, title, classes, inverted = false } = Astro.props;
const colouring = inverted ? "bg-page outline-primary outline outline-1 hover:bg-primary text-black hover:text-page" : "bg-primary hover:bg-page text-page hover:text-black"
---
<a 
    class={mergeClasses("m-1 py-1 px-2 text-lg rounded-sm transition-all", colouring, classes ?? "")}
    href={path}
    rel="prefetch"
>
    {title}
</a>