---
import Button from "./Button.astro";
---
<Button link="/" inverted>Home</Button>
<Button link="/blog" inverted>Blog</Button>
<Button link="/projects" inverted>Projects</Button>
<Button link="/about" inverted>About</Button>
