---
type Props = {
    path: string,
    title: string,
}

const { path, title } = Astro.props;
---
<a 
    class="m-1 bg-tertiary p-2 hover:bg-accent-light text-page hover:text-black rounded-tl-lg rounded-br-lg text-lg hover:rounded-tr-lg hover:rounded-bl-lg transition-all"
    href={path}
>
    {title}
</a>