---
import NavigationLink from "./NavigationLink.astro";


---
<div class="flex">
    <NavigationLink path="/" title="Home" />
    <NavigationLink path="/blog/" title="Blog" />
    <NavigationLink path="/about/" title="About" />
</div>
