---
import Button from './Button.astro';
---
<div class="flex">
    <Button link="/projects">Projects Home</Button>
    <Button external link="https://github.com/tvandinther">My GitHub</Button>
</div>