---
import Navigation from '@components/Navigation.astro'
---
<div id="side-navigation" class="fixed z-40 transition-all [&.open]:right-0 -right-80 w-80 top-0 p-2 pt-[4.5rem] overflow-x-clip overflow-y-auto h-full bg-secondary flex flex-col">
    <Navigation />
</div>