---
import Navigation from '@components/Navigation.astro'
---
<div id="side-navigation" class="fixed z-50 transition-all [&.open]:right-0 -right-80 w-80 h-screen p-2 bg-secondary flex flex-col mt-16">
    <Navigation />
</div>