---
import Navigation from '@components/Navigation.astro'
---
<div id="side-navigation" class="fixed z-50 transition-all [&.open]:right-0 -right-80 w-80 h-[calc(100vh-6rem)] p-2 -mt-4 bg-secondary flex flex-col">
    <Navigation />
</div>