---
type Props = {
    tags: string[] | [string, number][]
}

const { tags } = Astro.props;

const results = tags.length > 0 && Array.isArray(tags[0]) ?
    tags.map(([tagName, tagCount]) => [tagName, `${tagName} (${tagCount})`]) :
    tags.map(tagName => [tagName, tagName]);
---
<div class="flex">
    {results.map(([tagName, innerText]) => (
        <a 
            href={`/blog/tags/${tagName}`} 
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-300"
        >
            {innerText}
        </a>
    ))}
</div>
