---
import Button from "@components/Button.astro";
import PageTitle from "@components/PageTitle.astro";
import PageLayout from "@layouts/PageLayout.astro";
---
<PageLayout pageTitle="Egg Inc. Farm Value Calculator (v1)">
    <PageTitle>Egg Inc. Farm Value Calculator (v1)</PageTitle>
    <img src="/assets/images/farmvaluesimpleScreenshot_large.png" class="m-auto w-full h-auto shadow-sm border-2 rounded border-gray-300">
    <div class="flex">
        <Button link="/legacy/farmvaluesimple">Go to page</Button>
    </div>
    <p class="mt-2">
        In early 2018, I had an idea for a web-based calculator for a mobile game I was playing at the time called <strong>Egg, Inc.</strong>. Around this time I was just starting my university degree and completing my first year of business papers. I had no knowledge of building websites, so this project was a great drive to learn more about web development. I stuck to the simple trifecta of vanilla HTML, CSS and JavaScript.
    </p>
</PageLayout>
