---
import Button from "@components/Button.astro";
import PageTitle from "@components/PageTitle.astro";
import PageLayout from "@layouts/PageLayout.astro";
---
<PageLayout pageTitle="Egg Inc. Companion App">
    <PageTitle>Egg Inc. Companion App</PageTitle>
    <img src="/assets/images/eggincappScreenshot.png" class="m-auto w-full h-auto shadow-sm border-2 rounded border-gray-300">
    <div class="flex">
        <Button link="https://egginc.mioi.io">Go to site</Button>
        <Button link="https://github.com/tvandinther/mioi_egginc_app">Source code</Button>
    </div>
    <p class="mt-2">
        In late 2019, After creating the revised Egg, Inc. farm value calculator, I saw an opportunity to rewrite it along with a rich integration of in-game contracts as a progressive web app (PWA). I wanted to learn React, so this was the framework of choice for the version 2 of my Egg, Inc. companion tools.
    </p>
</PageLayout>
