---
import Card from "@components/Card.astro";
import PageLayout from "@layouts/PageLayout.astro";
---
<PageLayout>
    <h1 class="text-3xl">Projects</h1>
    <div class="flex flex-col">
        <Card title="Egg, Inc. Companion App" link="https://egginc.mioi.io">
        <img src="/assets/images/eggincappScreenshot.png" class="m-auto w-full h-auto max-w-[800px]">
        <p class="my-2">
            A fresh app housing the all new versions of the previous Egg, Inc. tools.
        </p>
        </Card>
        <Card title="Egg, Inc. Farm Value Calculator" link="/legacy/farmvalue">
        <img src="/assets/images/farmvalueScreenshot_large.png" class="m-auto w-full h-auto max-w-[800px]">
        <p class="my-2">
            An interactive calculator made for the mobile game Egg, Inc.
        </p>
        </Card>
        <Card title="Egg, Inc. Contract Search" link="/legacy/contract">
        <img src="/assets/images/contractScreenshot_large.png" class="m-auto w-full h-auto max-w-[800px]">
        <p class="my-2">
            A contract search and calculator made for the mobile game Egg, Inc.
        </p>
        </Card>
        <Card title="Simple Egg, Inc. Farm Value Calculator (Legacy)" link="/legacy/farmvaluesimple">
        <img src="/assets/images/farmvaluesimpleScreenshot_large.png" class="m-auto w-full h-auto max-w-[800px]">
        <p class="my-2">
            The old calculator made for the mobile game Egg, Inc. This version uses pure input fields to calculate your farm value.
        </p>
        </Card>
    </div>
</PageLayout>