---
import PageTitle from "@components/PageTitle.astro";
import ProjectItem from "@components/ProjectItem.astro";
import ProjectsNavigation from "@components/ProjectsNavigation.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { getCollection } from "astro:content";

const allProjects = await getCollection("projects");
---
<PageLayout pageTitle="Projects — mioi" bannerImage="/assets/images/projects_banner.png">
    <Fragment slot="sub-navigation">
        <ProjectsNavigation />
    </Fragment>
    <PageTitle>Projects</PageTitle>
    <div class="flex flex-col">
        {allProjects.sort((a, b) => a.data.date < b.data.date ? 1 : -1).map(project =>
        <ProjectItem project={project} />
        )}
    </div>
</PageLayout>