---
import TagPills from "@components/TagPills.astro";
import { getAllTagsCounts } from "@helpers/tags";
import BlogLayout from "@layouts/BlogLayout.astro";
const tagCounts = await getAllTagsCounts();
---
<BlogLayout pageTitle="Tags">
  <h1 class="text-3xl my-4">All Tags</h1>
  <TagPills tags={Object.entries(tagCounts)} />
</BlogLayout>