---
import Header from '@components/Header.astro';
// import Footer from '@components/Footer.astro';
import SideNavigation from "@components/SideNavigation.astro";

type Props = {
    pageTitle: string;
}

const { pageTitle } = Astro.props;
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Castoro&family=Martian+Mono&family=Poiret+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#1a202c" />
    <meta name="generator" content={Astro.generator} />
    <slot name="head" />
    <!-- Google tag (gtag.js) -->
    <script async type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-8PPBKZ5GD1"></script>
    <script type="text/partytown">
    // @ts-nocheck
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-8PPBKZ5GD1');
    </script>
    <title>{pageTitle}</title>
</head>
<body class="bg-page overflow-x-clip">
    <Header />
    <SideNavigation />
    <slot />
    <!-- <Footer /> -->
</body>
<script>
    // @ts-ignore
    window.scrollHiding = {header: true, footer: true};
</script>
</html>