---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import SideNavigation from "@components/SideNavigation.astro";
const { pageTitle } = Astro.props;
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Castoro&family=Martian+Mono&family=Poiret+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#1a202c" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
</head>
<body class="bg-primary overflow-x-clip">
<Header />
<SideNavigation />
<div id="page" class="px-8 py-4 bg-page rounded-tl-[2rem] lg:rounded-tl-[4rem] overflow-y-auto min-h-[calc(100vh-6rem)]">
    <div class="max-w-4xl m-auto">
        <slot />
    </div>
</div>
<Footer />
</body>
<script>
    // @ts-ignore
    window.scrollHiding = {header: true, footer: true};
</script>
</html>